---
import Layout from "../layouts/Layout.astro"

---

<Layout title="U-Coda">
	<div style="background: green; padding: 1rem">
		<a href="#" class="button" data-type="">Hello</a>
		<a href="#" class="button" data-type="outline">Hello</a>
		<a href="#" class="button" data-type="white">Hello</a>
		<a href="#" class="button" data-type="" data-size="large">All Courses</a>
		<a href="#" class="button" data-type="outline" data-size="large">Hello</a>
		<a href="#" class="button" data-type="white" data-size="large">Hello</a>
	</div>
</Layout>

<style>

</style>
