---
const {coursePreview} = Astro.props
---

<li class="card">
  <div class="frame">
    <img src={coursePreview} alt="">
  </div>
  <div class="card-data">
    <h3>Modern Business|Best Online Courses</h3>
    <div class="course-numbers">
      <div class="amount lectures-amount">
        <img src="/play.png" alt="">
        <p>30 Lectures</p>
      </div>
      <div class="amount learners-amount">
        <img src="/learner.svg" alt="">
        <p>12k+ Learners</p>
      </div>
    </div>
    <div class="splitter"></div>
    <div class="course-author">
      <div class="avatar-frame">
        <img class="author-avatar" src={coursePreview} alt="">
      </div>
      <h3 class="author-name">Jhon Smith</h3>
      <div class="author-course-price">$100</div>
    </div>
  </div>
</li>

<style>
.card {
  background-color: #fff;
  border-radius: 1rem;
}
.frame, .avatar-frame {
  border-radius: 1rem 1rem 0 0 ;
  --n: 449;
  --d: 285;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-frame {
  --n: 1;
  --d: 1;
  border-radius: 100%;
  height: 4.25rem;
}

.frame > img, .avatar-frame > img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
.card-data {
  padding: 2rem;
}
h3 {
  color: #242323;
  font-weight: 600;
  font-size: 1.875rem;
}
.course-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}
.course-numbers .amount {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.course-numbers p {
  white-space: nowrap;
  color: #575859;
  font-weight: 600;
  font-size: 1.25rem;
}
.splitter {
  height: 1px;
  background: rgba(38, 142, 170, 0.50);
  margin: 1.4rem 0;
}
.course-author {
  display: flex;
  align-items: center;
}
.author-name {
  margin-left: 1rem;
  color: #242323;
  font-size: 1.25rem;
  font-weight: 700;
}
.author-course-price {
  margin-left: auto;
  color: #4C68FF;
  font-size: 2.125rem;
  font-weight: 700;
}
</style>