---
import Header from "../components/Header.astro";
const { title, type = 'default' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="UCoda description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<Header type={type} />
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	img {
		max-width: 100%;
	}
	:root {
		--accent: #45B871;
		--accent-light: #E4F5EB;
		--accent-light2: #f4f7f5;
	}
	html {
		font-family: 'Open Sans', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	html, body {
		min-height: 100vh;
	}
	.container {
    max-width: 85rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
</style>
